@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br><br>
    <h1 class="display-4">Welcome</h1><br>
<p>This crud was created based on the video<br> "<a href="https://www.youtube.com/watch?v=hZ1DASYd9rk">Learn ASP.NET Core MVC (.NET 6) - Full Course</a>" from the channel "FreeCodeCamp", <br>this is a study and training project.</p>